/*一些公用属性*/
.comWidth{
    width:1100px;
    margin:0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.hidden{
    display:none;
}
.show{
    display:block;
}

/*topBar相关，这一段代码有点惨不忍睹*/
.topBar{
    height: 35px;
    background: #eee;
    font-size: 12px;
    color:#666;
    line-height: 35px;
}
.topBar-left{
    float: left;
}
.topBar-right{
    float: right;
}
.topBar-left li,.topBar-right li{
    margin: 0 2px;
    float:left;
    text-align: center;
}
.topBar-left .helloTaoBai{
    margin-left:20px;
    padding-left: 5px;
    font-weight: bold;
}
.topBar-left li a,.topBar-right li a{
    padding:0 5px;
    display: block;
    height: 35px;
}
.topBar-left li .arrow-item{
    text-align: left;
    width: 80px;
    background-image: url("../icon/drag.png") ;
    background-position: right center ;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.topBar-left li a:visited,.topBar-left li a:link,.topBar-right li a:visited,.topBar-right li a:link
{
    color:#666;
}
.topBar-left li a:hover,.topBar-right li:hover {
    color:rgb(236, 77, 14);
    background-color: #fff;
}
.topBar-left li ul{
    min-width: 100px;
    padding:0 0;
    margin: 0 0;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    cursor: pointer;
    display:none;
}
.topBar-left li ul li{
    padding:0 0 0 10px;
    margin: 0 0;
    text-align: left;
    line-height: 25px;
    float:none;
}
.topBar-left li:hover ul{
    display:block;
    position: absolute;
    z-index: 999;
}
.topBar-left li ul li:hover{
    color:#666;
    background:#eee;
}
.topBar-right li:last-child{
    margin-right:35px;
}
.addwidth{
    padding-left: 10px;
}
#buyCar{
    background-image: url(../icon/buyCar.png) ;
    background-position:left center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left:20px;
}
#collect{
    background-image: url(../icon/collect.png) ;
    background-position:left center;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left:20px;
}


/*logoBar，从这里开始优化*/
.logoBar{
    height:100px;
    background-color: #181818;
}
.logo img{
    padding:4px 0 0 50px;
    width: 90px;
    height: 90px;
}
.search_box{
    width: 447px;
    padding-top: 33px;
    padding-left: 160px;
}
.search_text{
    background-color: white;
    width:360px;
    height: 35px;
    padding:0 8px;
}
.search_btn{
    width: 70px;
    height: 35px;
    font-size:14px;
    background-color: rgb(230, 70, 90);
    font-family: "微软雅黑";
    color:white
}
.shopCar{
    margin-top: 33px;
    height: 35px;
    width: auto;
    background-color: rgb(230, 70, 90);
    font-size:14px;
    line-height: 35px;
    font-family: "微软雅黑";
    color:white;
    margin-right: 50px;
    border-radius: 5%;
}
.shopText{
    width:60px;
    border-right:#442217 solid 1px;
    background:url("../icon/whiteBuyCar.png") left center no-repeat;
    background-size: 25px 20px;
    padding-left:35px;
    margin-left: 15px;
}
.shopNum{
    width:25px;
    height: 35px;
    padding-left:15px;
}
.navBox{
    background-color: rgb(133, 98, 92);
    height: 30px;
}
/*导航栏-主题市场*/
.shopClass{
    position:relative;
}
.shopClass p{
    color: white;
    font-family: "微软雅黑";
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: rgb(230, 70, 90);
    width: 190px;
}
/*导航栏*/
.nav{
    line-height: 30px;
}
.nav li{
    float: left;
    margin: 0 1px;
    position: relative;
}
.nav li:first-child{
    margin-left: 10px;
}
.nav a{
    padding:7px 30px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.nav .navBorder::after{
    content: "|";
    position: absolute;
    right: -2px;
    bottom: 1px;
}
.nav a:hover{
    background-color: rgb(233, 126, 138);
}
/*主题市场下的bar*/
.shopClass_show{
    border: palevioletred 1.5px solid;
    border-top: none;
}
.shopClass_item{
    width: 170px;
    height: 35px;
    padding:0 0 0 18px;
    margin: 5px 0;
    background:url(../icon/rightArrow.png) no-repeat 168px center;
    background-size:15px 15px ;
}

.shopClass_item:first-child{
    margin-top:0px;
}
.shopClass_item:hover{
    background-color: rgb(247, 210, 212);
    color:rgb(230, 70, 90)
}

.shopClass_item:hover a{
    color:rgb(230, 70, 90)
}
.shopClass_item a{
    font-size:13px;
    line-height: 35px;
    font-family: "微软雅黑";
    color: #5e5e5e;
}
.shopClass_item a:hover{
    text-decoration:underline;
}
/*弹出的菜单*/
.shopClass_list{
    width:650px;
    position:absolute;
    top:30px;
    left:190px;
    border:rgb(250, 191, 184) 1px solid;
    border-left: none;   
    z-index: 10;
    background-color: white;
}
.shopClass_list .shopClass_list_content{
    padding:0 20px;
    box-shadow: 2px 0px 30px 2px rgba(168, 168, 157, 0.5);
}
.shopClass_list dl{
    width: 600px;
    height: 60px;
    line-height: 58px;
    border-bottom:#eee 1.5px solid;
    position: relative;
}
.shopClass_list dl::after{
    content: "查看更多 >>";
    position: absolute;
    right: 20px;
    text-decoration: underline ;
    color:#aaa;
}
.shopClass_list dt{
    width:60px;
    float:left;
    padding:0 10px 0 20px;
}
.shopClass_list dt a{
    font-weight: bold;
    font-size: 14px;
    color: rgb(253, 103, 86);
}
.shopClass_list dd{
    float:left;
    padding:0 10px;
}
.shopClass_list a{
    font-family: "微软雅黑";
    color: #5e5e5e;
}
.shopClass_list .highlight{
    color:#fa6451
}

/*主页的banner */
.banner_bar{
    width: 520px;
    height:280px;
    position: relative;
    top:0;
    left:0px;
    background:red;
    float:left;
    overflow: hidden;
}
.imgBox{
    width:1580px;
    height:280px;
    position: absolute;
    top:0;
    left:0;
}
.imgBox li{
    float: left;
}
.imgBox img{
    width:520px;
    height:280px;
    display: block;
}
.imgNum{
    position: absolute;
    left:0;
    bottom:10px;
    width:100%;
    text-align: center;
}
.imgNum a{
    width:5px;
    height: 5px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
    margin:0 3px;
}
.imgNum .active{
    background: tomato;
}
